Setting the Enviroment

In [2]:
#Loading Dependencies

import pandas as pd
import requests as r
from bs4 import BeautifulSoup as bs

In [3]:
#Creating the Soup

base_url = 'https://store.steampowered.com/specials'
html_content = r.get(base_url).content
soup = bs(html_content, 'lxml')

#Exporting the Soup for Readability
with open('steam_store_specials', 'wb') as file:
    file.write(soup.prettify('utf-8'))

Nested Tree

In [4]:
# div tab_content_ctn sub
#     h2 tab_content_title
#     div tab_content_section_ctn
#         a class="tab_item"
#             div class="tab_item_name"
#             div class="discount_pct"
#             div class="discount_original_price"
#             div class="discount_final_price"

Creating the Container

In [5]:
container = soup.find('div', class_ = 'tab_content_ctn sub')
type(container)

bs4.element.Tag

Extracting the Tabs Names

In [6]:
tabs_names = [c.text for c in container.find_all('h2')]
tabs_names

df = pd.DataFrame(columns=tabs_names)
df

Empty DataFrame
Columns: [New & Trending, Top Sellers, What's Being Played, Pre-Purchase]
Index: []

Extracting the Tabs Content

In [7]:
tabs_content = container.find_all('div', class_ = 'tab_content_section_ctn')
type(tabs_content)

bs4.element.ResultSet

Extracting the Games Details from Each Tab

In [8]:
games_details = [c.find_all('a', class_="tab_item") for c in tabs_content]
type(games_details)

list

In [9]:
#Extracting the Name of Each Game from Each tab

game_name = [[l.find('div', class_="tab_item_name").text for l in g] for g in games_details]
game_name

[['Mortal Online 2',
  'Not For Broadcast',
  'Serious Sam: Siberian Mayhem',
  'Hidden Deep',
  'Nobody Saves the World',
  'NEEDY STREAMER OVERLOAD',
  'Strange Horticulture',
  'Unpacking',
  'WARNO',
  'Reverie Knights Tactics',
  'Madden NFL 22',
  'NBA 2K22',
  'Mirror 2: Project X',
  'Covid Simulator',
  'Sucker for Love: First Date'],
 ['Mortal Online 2',
  'Red Dead Redemption 2',
  'Unpacking',
  'Dishonored: Death of the Outsider - Deluxe Bundle',
  'Hidden Deep',
  'Not For Broadcast',
  'Madden NFL 22',
  'The Walking Dead: The Telltale Definitive Series',
  'Nobody Saves the World',
  'Serious Sam: Siberian Mayhem',
  'Dishonored 2',
  'The Outer Worlds',
  'Dishonored - Definitive Edition',
  'Cities: Skylines',
  'BioShock: The Collection'],
 ['Sid Meier’s Civilization® VI',
  'Red Dead Redemption 2',
  'NBA 2K22',
  'Cities: Skylines',
  '鬼谷八荒 Tale of Immortal',
  'Mirror 2: Project X',
  'Mortal Online 2',
  'Madden NFL 22',
  'Red Dead Online',
  'DJMAX RESPECT V',
  'NEEDY STREAMER OVERLOAD',
  'Nobody Saves the World',
  'Unpacking',
  'The Outer Worlds',
  'Serious Sam: Siberian Mayhem'],
 ['DCS: AH-64D', 'ELEX II', 'FAR: Changing Tides']]

In [10]:
#Extracting the Original Price of Each Game from Each tab
game_original_price = [[float((l.find('div', class_="discount_original_price").text).strip('$')) for l in g] for g in games_details]
game_original_price

[[39.99,
  24.99,
  19.99,
  24.99,
  24.99,
  15.99,
  14.99,
  19.99,
  39.99,
  24.99,
  79.99,
  59.99,
  1.99,
  4.99,
  9.99],
 [39.99,
  59.99,
  19.99,
  59.99,
  24.99,
  24.99,
  79.99,
  49.99,
  24.99,
  19.99,
  29.99,
  59.99,
  19.99,
  29.99,
  59.99],
 [59.99,
  59.99,
  59.99,
  29.99,
  19.99,
  1.99,
  39.99,
  79.99,
  19.99,
  49.99,
  15.99,
  24.99,
  19.99,
  59.99,
  19.99],
 [79.99, 49.99, 19.99]]

In [11]:
#Extracting the Discount % of Each Game from Each tab
game_discount = [[int((l.find('div', class_="discount_pct").text).strip('-%')) for l in g] for g in games_details]
game_discount

[[10, 25, 10, 10, 10, 10, 10, 20, 25, 15, 70, 60, 40, 40, 10],
 [10, 50, 20, 75, 10, 25, 70, 50, 10, 10, 80, 67, 75, 75, 80],
 [85, 50, 60, 75, 20, 40, 10, 70, 50, 70, 10, 10, 20, 67, 10],
 [30, 10, 10]]

In [12]:
#Extracting the Final Price of Each Game from Each tab
game_final_price = [[float((l.find('div', class_="discount_final_price").text).strip('$')) for l in g] for g in games_details]
game_final_price

[[35.99,
  18.74,
  17.99,
  22.49,
  22.49,
  14.39,
  13.49,
  15.99,
  29.99,
  21.24,
  23.99,
  23.99,
  1.19,
  2.99,
  8.99],
 [35.99,
  29.99,
  15.99,
  14.99,
  22.49,
  18.74,
  23.99,
  24.99,
  22.49,
  17.99,
  5.99,
  19.79,
  4.99,
  7.49,
  11.99],
 [8.99,
  29.99,
  23.99,
  7.49,
  15.99,
  1.19,
  35.99,
  23.99,
  9.99,
  14.99,
  14.39,
  22.49,
  15.99,
  19.79,
  17.99],
 [55.99, 44.99, 17.99]]

In [13]:
idx = 0
pd_data = [[],[],[],[]]
columns_list = ['Name', 'Original Price', 'Discount', "Final Price"]

for i in range(4):
    pd_data[idx] = pd.DataFrame([game_name[idx], game_original_price[idx], game_discount[idx], game_final_price[idx]], index=columns_list).T
    idx += 1

In [14]:
pd_data[0]

                            Name Original Price Discount Final Price
0                Mortal Online 2          39.99       10       35.99
1              Not For Broadcast          24.99       25       18.74
2   Serious Sam: Siberian Mayhem          19.99       10       17.99
3                    Hidden Deep          24.99       10       22.49
4         Nobody Saves the World          24.99       10       22.49
5        NEEDY STREAMER OVERLOAD          15.99       10       14.39
6           Strange Horticulture          14.99       10       13.49
7                      Unpacking          19.99       20       15.99
8                          WARNO          39.99       25       29.99
9        Reverie Knights Tactics          24.99       15       21.24
10                 Madden NFL 22          79.99       70       23.99
11                      NBA 2K22          59.99       60       23.99
12           Mirror 2: Project X           1.99       40        1.19
13               Covid Simulator           4.99       40        2.99
14   Sucker for Love: First Date           9.99       10        8.99

In [15]:
pd_data[1]

,Name,Original Price,Discount,Final Price
0,Mortal Online 2,39.99,10,35.99
1,Red Dead Redemption 2,59.99,50,29.99
2,Unpacking,19.99,20,15.99
3,Dishonored: Death of the Outsider - Deluxe Bundle,59.99,75,14.99
4,Hidden Deep,24.99,10,22.49
5,Not For Broadcast,24.99,25,18.74
6,Madden NFL 22,79.99,70,23.99
7,The Walking Dead: The Telltale Definitive Series,49.99,50,24.99
8,Nobody Saves the World,24.99,10,22.49
9,Serious Sam: Siberian Mayhem,19.99,10,17.99
10,Dishonored 2,29.99,80,5.99
11,The Outer Worlds,59.99,67,19.79
12,Dishonored - Definitive Edition,19.99,75,4.99
13,Cities: Skylines,29.99,75,7.49
14,BioShock: The Collection,59.99,80,11.99

In [16]:
pd_data[2]

                            Name Original Price Discount Final Price
0   Sid Meier’s Civilization® VI          59.99       85        8.99
1          Red Dead Redemption 2          59.99       50       29.99
2                       NBA 2K22          59.99       60       23.99
3               Cities: Skylines          29.99       75        7.49
4          鬼谷八荒 Tale of Immortal          19.99       20       15.99
5            Mirror 2: Project X           1.99       40        1.19
6                Mortal Online 2          39.99       10       35.99
7                  Madden NFL 22          79.99       70       23.99
8                Red Dead Online          19.99       50        9.99
9                DJMAX RESPECT V          49.99       70       14.99
10       NEEDY STREAMER OVERLOAD          15.99       10       14.39
11        Nobody Saves the World          24.99       10       22.49
12                     Unpacking          19.99       20       15.99
13              The Outer Worlds          59.99       67       19.79
14  Serious Sam: Siberian Mayhem          19.99       10       17.99

In [17]:
pd_data[3]

                  Name Original Price Discount Final Price
0          DCS: AH-64D          79.99       30       55.99
1              ELEX II          49.99       10       44.99
2  FAR: Changing Tides          19.99       10       17.99

Exporting the Data

In [18]:
new_and_trending = pd.DataFrame()
top_sellers = pd.DataFrame()
being_played = pd.DataFrame()
pre_purchase = pd.DataFrame()

new_and_trending['Name'] = game_name[0]
new_and_trending['Original Price'] = game_original_price[0]
new_and_trending['Discount %'] = game_discount[0]
new_and_trending['Final Price'] = game_final_price[0]

top_sellers['Name'] = game_name[1]
top_sellers['Original Price'] = game_original_price[1]
top_sellers['Discount %'] = game_discount[1]
top_sellers['Final Price'] = game_final_price[1]

being_played['Name'] = game_name[2]
being_played['Original Price'] = game_original_price[2]
being_played['Discount %'] = game_discount[2]
being_played['Final Price'] = game_final_price[2]

pre_purchase['Name'] = game_name[3]
pre_purchase['Original Price'] = game_original_price[3]
pre_purchase['Discount %'] = game_discount[3]
pre_purchase['Final Price'] = game_final_price[3]

In [19]:
new_and_trending

                            Name  Original Price  Discount %  Final Price
0                Mortal Online 2           39.99          10        35.99
1              Not For Broadcast           24.99          25        18.74
2   Serious Sam: Siberian Mayhem           19.99          10        17.99
3                    Hidden Deep           24.99          10        22.49
4         Nobody Saves the World           24.99          10        22.49
5        NEEDY STREAMER OVERLOAD           15.99          10        14.39
6           Strange Horticulture           14.99          10        13.49
7                      Unpacking           19.99          20        15.99
8                          WARNO           39.99          25        29.99
9        Reverie Knights Tactics           24.99          15        21.24
10                 Madden NFL 22           79.99          70        23.99
11                      NBA 2K22           59.99          60        23.99
12           Mirror 2: Project X            1.99          40         1.19
13               Covid Simulator            4.99          40         2.99
14   Sucker for Love: First Date            9.99          10         8.99

In [20]:
top_sellers

,Name,Original Price,Discount %,Final Price
0,Mortal Online 2,39.99,10,35.99
1,Red Dead Redemption 2,59.99,50,29.99
2,Unpacking,19.99,20,15.99
3,Dishonored: Death of the Outsider - Deluxe Bundle,59.99,75,14.99
4,Hidden Deep,24.99,10,22.49
5,Not For Broadcast,24.99,25,18.74
6,Madden NFL 22,79.99,70,23.99
7,The Walking Dead: The Telltale Definitive Series,49.99,50,24.99
8,Nobody Saves the World,24.99,10,22.49
9,Serious Sam: Siberian Mayhem,19.99,10,17.99
10,Dishonored 2,29.99,80,5.99
11,The Outer Worlds,59.99,67,19.79
12,Dishonored - Definitive Edition,19.99,75,4.99
13,Cities: Skylines,29.99,75,7.49
14,BioShock: The Collection,59.99,80,11.99

In [21]:
being_played

                            Name  Original Price  Discount %  Final Price
0   Sid Meier’s Civilization® VI           59.99          85         8.99
1          Red Dead Redemption 2           59.99          50        29.99
2                       NBA 2K22           59.99          60        23.99
3               Cities: Skylines           29.99          75         7.49
4          鬼谷八荒 Tale of Immortal           19.99          20        15.99
5            Mirror 2: Project X            1.99          40         1.19
6                Mortal Online 2           39.99          10        35.99
7                  Madden NFL 22           79.99          70        23.99
8                Red Dead Online           19.99          50         9.99
9                DJMAX RESPECT V           49.99          70        14.99
10       NEEDY STREAMER OVERLOAD           15.99          10        14.39
11        Nobody Saves the World           24.99          10        22.49
12                     Unpacking           19.99          20        15.99
13              The Outer Worlds           59.99          67        19.79
14  Serious Sam: Siberian Mayhem           19.99          10        17.99

In [22]:
pre_purchase

                  Name  Original Price  Discount %  Final Price
0          DCS: AH-64D           79.99          30        55.99
1              ELEX II           49.99          10        44.99
2  FAR: Changing Tides           19.99          10        17.99